/* === CSS Reset ===*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* === Styles === */
@font-face {
    font-family: 'Lexend';
    src: url('fonts/Lexend.woff2') format('woff2-variations'),
        url('fonts/Lexend.woff') format('woff-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito.woff2') format('woff2-variations'),
        url('fonts/Nunito.woff') format('woff-variations');
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
}

:root {
    --heading-font: "Lexend", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --body-font: "Nunito", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --primary-color: #00FF94;
    /* --primary-color-light: #60c49b; */
    --surface-0-color: #121212;
    --surface-1-color: #18181b;
    --surface-1-hover-color: #5c5c62;
    --surface-2-color: #262626;
    --surface-2-hover-color: #3c3c3c;
    --primary-font-color: #ffffff;
    --secondary-font-color: #80808a;
    --secondary-font-color-light: #b1b1b3;
    --priority-high-primary-color: #ff706c;
    --priority-high-secondary-color: #3b1f1f;
    --priority-medium-primary-color: #11d8ff;
    --priority-medium-secondary-color: #18272c;
    --priority-low-primary-color: #cbd5e1;
    --priority-low-secondary-color: #1e2025;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    background-color: var(--surface-0-color);
    font-family: var(--body-font);
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 0.4rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--primary-font-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 3ren;
}

header p {
    color: var(--secondary-font-color-light);
    font-weight: 500;
}

#todo-count {
    color: var(--primary-color);
    font-weight: 800;
}

#new-todo-btn {
    padding: 1rem 3rem;
    -webkit-box-shadow:0px 0px 59px 0px rgba(0,255,149,0.36);
-moz-box-shadow: 0px 0px 59px 0px rgba(0,255,149,0.36);
box-shadow: 0px 0px 59px 0px rgba(0,255,149,0.36);
}

#new-todo-btn:hover {
    -webkit-box-shadow:0px 0px 59px 0px rgba(0,255,149,0.54);
    -moz-box-shadow: 0px 0px 59px 0px rgba(0,255,149,0.54);
    box-shadow: 0px 0px 59px 0px rgba(0,255,149,0.54);
}

#sidebar {
    width: 100%;
    height: 100%;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    height: 100%;
    background-color: var(--surface-1-color);
    color: var(--secondary-font-color);
    font-family: var(--body-font);
    text-align: center;
}

#content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow-y: auto;
    padding: 0 4rem;
}

button {
    cursor: pointer;
}

#projects-container {
    margin-top: 0.3rem;
    grid-row: 2;
    overflow-y: auto;
    padding: 0.5rem 1.5rem;
}

.sidebar-heading {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    padding: 1rem;
    width: 50%;
    place-self: center;
    position: relative;
    color: var(--secondary-font-color-light);
    border-bottom: 1px solid var(--secondary-font-color-light);
}

#projects-container li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

#projects-container button {
    background: none;
    border: none;
    color: var(--secondary-font-color);
    font-weight: 750;
}

.edit-project-btn {
    fill: var(--primary-color);
    width: 1em;
    position: absolute;
    right: 15px;
    visibility: hidden;
}

#projects-container li:hover {
    background-color: var(--surface-1-hover-color);
}

#projects-container li:hover .project-btn {
    width: 100%;
    color: var(--primary-font-color);
}

#projects-container li:hover .edit-project-btn {
    visibility: visible;
}

.selected-project .project-btn {
    color: var(--primary-color) !important;
    font-weight: 1000 !important;
}

#new-project-btn {
    justify-self: center;
    width: 75%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.todo-card {
    background-color: var(--surface-1-color);
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 8fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    padding: 1.3rem;
    border-radius: 0.4rem;
    -webkit-box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.8); 
    box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.8);
    color: var(--secondary-font-color-light);
    fill: var(--secondary-font-color-light);
    cursor: pointer;
    border-left: 5px solid transparent;
}

.todo-card:hover {
    background-color: #1e1e1e;
    -webkit-box-shadow: 0px 17px 15px -1px rgba(0,0,0,0.8); 
    box-shadow: 0px 17px 15px -1px rgba(0,0,0,0.8);
}


.todo-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-family: var(--heading-font);
    color: var(--primary-font-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.todo-due-date {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.todo-due-date svg {
    width: 1.4rem;
}

.todo-priority {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
}

.priority-high {
    background-color: var(--priority-high-secondary-color);
    border-color: var(--priority-high-primary-color);
    color: var(--priority-high-primary-color);
}

.priority-medium {
    background-color: var(--priority-medium-secondary-color);
    border-color: var(--priority-medium-primary-color);
    color: var(--priority-medium-primary-color);
}

.priority-low {
    background-color: var(--priority-low-secondary-color);
    border-color: var(--priority-low-primary-color);
    color: var(--priority-low-primary-color);
}

.edit-todo-btn,
.delete-todo-btn {
    background: none;
    border: none;
    width: 1.4rem;
}

.edit-todo-btn:hover {
    fill: var(--primary-color);
}

.delete-todo-btn:hover {
    fill: var(--priority-high-primary-color);
}

.todo-card:has(.priority-high):hover:not(.checked-todo) {
    border-color: var(--priority-high-primary-color);
}

.todo-card:has(.priority-medium):hover:not(.checked-todo) {
    border-color: var(--priority-medium-primary-color);
}

.todo-card:has(.priority-low):hover:not(.checked-todo) {
    border-color: var(--priority-low-primary-color);
}

.todo-card-right {
    grid-row: 1 / 3;
    place-self: center;
    display: flex;
    gap: 1rem;
}

.todo-check-box-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    place-self: center;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.todo-check-box-container::before,
.todo-check-box-container::after {
    position: absolute;
}

.todo-check-box-container::before {
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    background-color: var(--surface-1-color);
    border-radius: 50%;
    border: 2px solid var(--secondary-font-color);
}

.todo-check-box-container::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check-bold</title><path d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" /></svg>');;
    width: 1rem;
    height: 1rem;
    bottom: -7px;
    visibility: hidden;
}

.todo-check-box-container:has(.todo-check-box:checked)::before {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.todo-check-box-container:has(.todo-check-box:checked)::after {
    visibility: visible;
}

.todo-check-box {
    appearance: none;
}

.checked-todo {
    filter: saturate(50%) brightness(80%);
}

.checked-todo .todo-priority,
.checked-todo .edit-todo-btn {
    visibility: hidden;
}

.checked-todo .todo-title {
    text-decoration: line-through;
}

.primary-btn,
.secondary-btn {
    font-weight: 900;
    border-radius: 0.4rem;
    border: none;
}

.primary-btn {
    background-color: var(--primary-color);
    color: black;
}

.secondary-btn {
    background-color: var(--surface-2-color);
    color: var(--primary-color);
}

.secondary-btn:hover {
    background-color: var(--surface-2-hover-color);
}