/* === CSS Reset ===*/
*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
  }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* === Styles === */
@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.woff2') format('woff2-variations'),
        url('fonts/Comfortaa.woff') format('woff-variations');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito.woff2') format('woff2-variations'),
        url('fonts/Nunito.woff') format('woff-variations');
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
}

:root {
    --comfortaa-font: "Comfortaa", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --nunito-font: "Nunito", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#sidebar {
    width: 100%;
    height: 100%;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    height: 100%;
}

#projects-container {
    margin: 0;
    grid-row: 2;
    overflow-y: auto;
}

#content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow-y: auto;
}